* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #EEE;
  text-align: center;
}

#field {
  background-color: #FFF;
  border: 2px #CCC solid;
  display: inline-block;
  height: 500px;
  margin: auto;
  position: relative;
}

#ball {
  background-color: #777;
  border-radius: 100%;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

#paddle {
  background-color: #BBB;
  border-radius: 10px;
  height: 12px;
  left: 5px;
  position: absolute;
  bottom: 5px;
  width: 60px;
}

.block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.65);
  position: absolute;
}

.screen {
  color: transparent;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  visibility: hidden;
  z-index: 1;
}

.button {
  font-weight: bold;
  padding: 10px;
}
