@import url('http://fonts.googleapis.com/css?family=Roboto');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

html {
  background: linear-gradient(black, #424342) 0 0 repeat-x;
  background-size: 100% 40px;
}

body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  height: 40px;
  margin: 0;
  padding: 0;
}

nav {
  display: block;
}

nav ul {
  margin: 0;
  padding: 0;
  text-indent: 10px;
}

nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

nav ul li a {
  display: inline-block;
  height: 40px;
  line-height: 42px;
  margin: 0 10px 0 0;
  color: #ddd;
  text-shadow: 1px 1px 2px #111;
  text-decoration: none;
  font-weight: bold;
}

wat-wat {
  flex-grow: 1;
  flex-basis: 0;
}