:host {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

#inspector {
  display: flex;
  flex-grow: 1;
}

.paper {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

#open-menu {
  width: 32px;
  margin-right: 5px;
}

wat-menu {
  position: absolute;
  left: 0;
  top: 42px;
  height: 100%;
}

wat-menu ul {
  margin: 0;
  padding: 0;
}

wat-menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
}

wat-menu ul li > * {
  margin: 5px;
  padding: 0;
}

wat-menu ul li wat-button {
  width: 100%;
}

wat-menu ul li label {
  color: rgba(96,96,96,1);
  margin-right: 5px;
  line-height: 100%;
  width: 115px;
}

wat-menu ul li .field {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 2px;
  color: #333;
  background: #fff;
  box-sizing: border-box;
}

wat-menu ul li .field:focus {
  border: 1px solid rgba(66,133,244,1);
  outline: none;
}

wat-menu ul li input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

wat-menu ul li #theme {
  flex-grow: 1;
}

wat-menu ul li #tab-size {
  width: 62px;
  padding: 1px 2px;
}

polymer-ui-toggle-button {
  width: 60px;
  height: 19px;
  border: 1px solid silver;
  border-radius: 2px;
  line-height: 75%;
  font-size: 75%;
}

polymer-ui-toggle-button.on {
  border: 1px solid rgba(66,133,244,1);
}

polymer-ui-toggle-button ^^ .on-label {
  background-color: rgba(66,133,244,1);
  color: white;
}

polymer-ui-toggle-button ^^ .off-label {
  background-color: silver;
  color: rgba(96,96,96,1);
}

wat-code-editor {
  flex-grow: 1;
}

wat-timeditem-inspector {
  margin-top: 47px !important;
}

wat-timeline {
  max-height: 30vh;
}

wat-dock > * {
  flex-grow: 1;
}

wat-dock[collapsed] {
  flex-grow: 0;
}

.hidden {
  display: none;
}