#container {
  display: table-row;  
}
.column {
  display: table-cell;
}
.cell {
  border: 1px solid black;
}
.header {
  position: relative;
  background: #eeeeee;
}
.header input,.header input:focus {
  width: auto;
}
.focused-cell {
  border: 1px solid blue;
}
.header .button {
  visibility: hidden;
  position: absolute;
}
.header:hover .button {
  visibility: visible;
  position: absolute;
}
.button:hover{
  cursor: pointer;
}
.delete-button {
  top: 1px;
  right: 1px;
}
.insert-button {
  top: 1px;
  right: 16px;
}
input, input:focus {
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
}