:host {
  display: flex;
  flex-flow: column;
}

.paper {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
}

#top-bar {
  display: flex;
  flex-flow: row;
  margin: 5px 0 5px 5px;
  align-items: center;
}

polymer-ui-toggle-button {
  height: 30px;
  width: 8em;
  border: 1px solid silver;
  border-radius: 3px;
  margin-right: 5px;
}

polymer-ui-toggle-button {
  font-size: inherit;
}

polymer-ui-toggle-button,
polymer-ui-toggle-button.on {
  border: 1px solid rgba(66,133,244,1);
}

polymer-ui-toggle-button ^^ .on-label,
polymer-ui-toggle-button ^^ .off-label {
  background-color: rgba(66,133,244,1);
  color: white;
}

polymer-ui-toggle-button ^^ .thumb {
  width: 32px;
  left: calc(50% - 16px);
}

polymer-selector > * {
  display: inline-block;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 8px;
  cursor: pointer;
  color: gray;
  margin-right: 5px;
  border: 1px solid white;
}

#top-bar #message,
polymer-selector > *.polymer-selected {
  color: rgba(96,96,96,1);
  border: 1px solid silver;
  border-radius: 3px;
  background-color: rgba(242,242,242,1);
}

#top-bar #message {
  margin-left: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

#preview {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#preview-frame {
  border: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.player-controls {
  padding: 8px;
}

wat-player-controls {
  margin: 10px;
}