body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.box-container {
  width: 698px;
  margin: 12px 0 6px 12px;
  border: solid 1px silver;
  border-radius: 6px;
}

.box {
  position: relative;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  display: table;
  -webkit-transform: translateZ(0);
}

#box1 {
  margin-bottom: 5px;
  background-color: rgb(0,170,187);
}

#box2 {
  background-color: rgb(133,66,244);
}

.box span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: helvetica;
}

wat-player-controls {
  margin: 0px;
}

wat-timeditem-inspector {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  margin-right: 12px;
  width: 330px;
  height: 100%;
  padding: 5px;
  vertical-align: top;
  overflow: hidden;
}