:host {
  overflow-y: scroll;
}

#property-container {
  font-size: 0.9em;
  width: 330px;
  height: 100%;
  white-space: nowrap;
}

.property {
  display: block;
  white-space: nowrap;
  margin: 0.5em 0.25em;
}

.property label {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #919191;
  font-weight: bold;
  width: 35%;
  vertical-align: middle;
}

button {
  outline: none;
  color: white;
  background-color: rgba(66,133,244,1);
  border: 1px solid rgba(66,133,244,0.84);
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
}

#launch-button {
  display: inline-block;
  margin-left: 0.2em;
  width: calc(35px - 0.5em);
  text-size: 0.5em;
}

#back-button {
  padding-top: 3px;
  margin-bottom: 10px;
}

.property .field {
  display: inline-block;
  width: calc(65% - 5px);
  top: 5px;
  margin: 0px;
  border: 1px solid silver;
  border-radius: 2px;
  color: #333;
  background: #fff;
  vertical-align: middle;
  box-sizing: border-box;
}

.property #easing {
  width: calc(65% - 40px);
}

.property input {
  padding: 1px 2px;
}

.property .field:focus {
  border: 1px solid rgba(66,133,244,1);
  outline: none;
}

.hidden {
  display: none;
}