body {
  background: #dc0062;
  color: white;
}

#target {
  width: 100vw;
  height: 100vh;
  font-size: 10vh;
  text-align: center;
}

.visual {
  display: block;
  position: absolute;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100000px;
  opacity: 0;
  will-change: transform;
}
.visual::after {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: -15%;
  right: -15%;
  bottom: -15%;
  border-radius: inherit;
  background: inherit;
  opacity: 0.5;
}

.visual:nth-child(1n) { background: #f5a33f; }
.visual:nth-child(2n) { background: #3683d1; }
.visual:nth-child(3n) { background: #53d537; }
.visual:nth-child(4n) { background: #ec3d4b; }
