<link rel="import" href="../polymer-ajax/polymer-ajax.html">

<polymer-element name="context-free-parser" attributes="url data">

  <template>

    <polymer-ajax url="{{url}}" response="{{text}}" auto></polymer-ajax>

  </template>

  <script id="test">

    Polymer('context-free-parser', {

      text: null,

      textChanged: function() {

        if (!this.text) {
          console.log('textChanged:', this.text);
          return;
        }

        var text = this.text;

        var top = {};
        var classes = [];
        var current = top;
        var subCurrent = {};

        function makePragma(object, pragma, content) {
          var p$ = object;
          var p = p$[pragma];
          if (!p) {
            p$[pragma] = p = [];
          }
          p.push(content);
        }

        var js_matches = text.match(/\/\*\*([\s\S]*?)\*\//g) || [];
        text = text.replace(/\/\*\*([\s\S]*?)\*\//g, '');
        var html_matches = text.match(/<!--([\s\S]*?)-->/g) || [];
        var matches = html_matches.concat(js_matches);

        matches.forEach(function(m) {

          var lines = m.replace(/\r\n/g, '\n').replace(/^\s*\/\*\*|^\s*\*\/|^\s*\*|^\s*\<\!-\-|^s*\-\-\>/gm, '').split('\n');
          
          var pragmas = [];
          lines = lines.filter(function(l) {
            var m = l.match(/\s*@(\w*) (.*)/);
            if (!m) {
              return true;
            }
            pragmas.push(m);
          });

          var code = lines.join('\n');
          
          pragmas.forEach(function(m) {
            var pragma = m[1], content = m[2];
            switch (pragma) {

              case 'class':
                current = {
                  name: content,
                  description: code
                };
                classes.push(current);
                break;
              
              case 'attribute':
              case 'method':
              case 'event':
                subCurrent = {
                  name: content,
                  description: code
                };
                makePragma(current, pragma + 's', subCurrent);
                break;

              case 'default':
              case 'type':
                subCurrent[pragma] = content;
                //makePragma(subCurrent, pragma, content);
                break;

              default:
                makePragma(current, pragma, content);
                break;
            }
          });
        });

        this.data = { classes : classes };
      },

      dataChanged: function() {
        this.fire('data-ready');
      }

    });

  </script>

</polymer-element>
