body {
  font-family: Roboto, sans-serif;
}

.box {
  position: relative;
  background-color: black;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  display: table;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.box span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 90%;
  font-family: helvetica;
}

.box-container {
  margin: 10px;
  width: 560px;
  border: solid 1px;
  border-radius: 6px;
}

wat-bezier {
  display: inline-block;
}