div#canvas {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

#canvas {
  border-radius: 6px;
  /* top and bottom quarters of canvas background are grey, middle is white */
  background: repeating-linear-gradient(white, white 200px, 
      transparent 200px, transparent 200px) no-repeat, 
      linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
  background-size: 100% 50%, 100% 50%, auto;
  background-position: 25%, 0, 0;
}
      
.coordinate-plane { 
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 0;
}

.coordinate-plane:before,
.coordinate-plane:after {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;    
  color: rgba(0,0,0,.6);
  font-size: 75%;
  line-height: 1;
}

.coordinate-plane:before {
  content: '\00a0';
  border-bottom: 1px solid;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.coordinate-plane:after {
  content: '\00a0';
  border-top: 1px solid;
  margin-bottom: -1em;
}
  
.control-point {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0,0,0,.3);
  margin: -10px 0 0 -10px;
  outline: none;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 55%;
}

#P0,
#P3 {
  background-color: white;
  display: table;
  z-index: 1;
}

#P0 {
  left: 0;
  top: 75%;
}

#P3 {
  left: 100%;
  top: 25%;
}

#P1,
#P2 {
  color: white;
  cursor: pointer;
  z-index: 2;
}

#P1 {
  background: rgba(133,66,244,1);
}

#P2 {
  background: rgba(0,170,187,1);
  left: 100%;
}

#P1:focus {
  box-shadow: 0 0 5px 2px rgba(133,66,244,1);
}
  
#P2:focus {
  box-shadow: 0 0 5px 2px rgba(0,170,187,1);
}

#P1x,
#P1y,
#P2x,
#P2y {
  width: 4em;
  margin-right: 10px;
}

:host {
  font-family: arial;
  font-style: strong;
}

